@use "../custom" as *;
@use "../components/mixins" as *;
.menu {
  @include gradient;//how to use mixins
  li {
    padding: 0 0.7rem;
    a {
      color: $white !important;
      text-transform: capitalize;
      font-weight: 600;
    }
  }
  //   background: yellow;
}
